<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevSearch</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body class="text-[#aea6a6] bg-[#0c0f12] text-[20px]">
    <%= // context?.message || "" %>
    <%- // context?.path ? include(context?.path) : "" %>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- <script src="./scripts/login.js"></script> -->
    <script src="./scripts/indexPage.js"></script>

</body>

</html>